@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

.flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.mySwiper {
  .swiper-slide {
    img {
      width: 100%;
    }
  }

  .swiper-pagination-bullet {
    background-color: #fff;
  }
}

.nav-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	padding: 12px;
	max-width: 1920px;
	margin-inline: auto;
}

.nav-bar li a {
	text-decoration: none;
	text-transform: capitalize;
}

.header-nav-bar-logo li a{
  font-size: 24px;
  color: #EE3A43;
  font-style: italic;
  text-transform: none;
  font-weight: bold;
}

.menu {
	display: flex;
	gap: 30px;
}

.menu li a {
	display: inline-block;
	position: relative;
  color: #212121;
  font-size: 18px;
  font-weight: 500;
	transition: all .3s ease-in-out;
}

.menu li a::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #EF294C;
	width: 0;
	height: 3px;
	transition: all .3s ease-in-out;
}

.menu li a:hover:after {
	width: 100%;
}

.menu li a:hover {
	color: #EE3A43;
}

.close-menu,.open-menu {
	position: absolute;
	color: #c7c7c7;
	font-size: 40px;
	display: none;
}

.open-menu {
	right: 20px;
}

.close-menu {
	top: 0;
	right: 20px;
}

#check {
	display: none;
}

.header-nav-bar__cta {
  gap: 20px;

  a {
    text-decoration: none;
  }
}

.header-cta {
  padding: 20px 50px;
  color: #fff;
  border-radius: 10px;
  background-color: #FFC222;
  font-weight: 600;
  transition: all .3s ease-in;

  &:hover {
    background-color: #b18c2f;
  }
}

.menu-cta {
  display: none;
}

.sub-menu-one {
  display: none;

  li {
    list-style: none;
  }
}

.menu li:hover .sub-menu-one {
  display: block;
  position: absolute;
  background: #fff;
  box-shadow: 0 4px 2px 2px #7c7c7c;
  border-radius: 10px;
  margin-top: 10px;
  z-index: 100;
  padding: 20px;
}

.menu li:hover .sub-menu-one ul {
  display: block;
}

.menu li:hover .fa {
  transform: rotate(180deg);
}

.fa {
  transition: all .2s ease-in;
}

@media (max-width:992px) {
	.menu {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 70%;
		height: 100vh;
		background-color: #fff;
    box-shadow: 0 4px 2px 2px #7c7c7c;
		position: fixed;
		left: -100%;
		top: 90px;
		transition: all .3s ease-in-out;
		z-index: 100;
	}

	.close-menu,.open-menu {
		display: block;
	}

	#check:checked~ .menu {
		left: 0;
	}

  .nav-bar {
    justify-content: space-between;
  }

  .header-nav-bar__cta {
    display: none;
  }

  .menu-cta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.swiper-slide {
  position: relative;

  .swiper-slide-text {
    position: absolute;
    top: 40px;
    left: 209px;

    .text-container  {
      color: #fff;
      flex-direction: column;
      gap: 20px;
      max-width: 710px;
      h1 {
        font-size: 80px;
        font-weight: bold;
      }

      .order-tracking-cta {
        text-decoration: none;
        padding: 26px 40px;
        max-width: 212px;
        background: #EF294C;
        color: #fff;
        border-radius: 10px;
      }

      .special-txt {
        color: #fff;
      }
    }
  }
}

.swiper-slide-input{
  max-width: 212px;
  position: relative;
  input {
    padding: 22px 48px;
    border-radius: 40px;
  }

  a {
    text-decoration: none;
    color: #fff;
    background-color: #EE3A43;
    border-radius: 40px;
    padding: 20px 40px;
    position: absolute;
    left: 188px;
    top: 0;
  }
}


.swiper-slide-discount {
  max-width: 190px;

  img {
    width: 100%;
  }
}

@media (max-width:992px) {
  .swiper-slide {
    height: 100%;

    .slider-img {
      object-fit: cover;
      height: 100vh;
    }

    .swiper-slide-text {
      left: 223px;
      top: 100px;
      flex-direction: column;
      text-align: center;
      margin-inline: auto;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .text-container {
        max-width: 100%;

        h1 {
          font-size: 40px;
        }

        .order-tracking-cta {
          margin-inline: auto;
        }
      }
    }
  }

  .swiper-slide-input {
    max-width: 100%;
    margin-inline: auto;
  }
}